{"openapi":"3.0.1","info":{"title":"MOOST RP API ms-gp-rules","description":"Moost Recommender Platform Open-API specification for <i>\"Rules\"</i> Microservice","contact":{"url":"https://www.moost.io/page/smart-home-recommender-system"},"version":"3.6.0"},"servers":[{"url":"https://api.moost.io"},{"url":"https://api.dev.moost.io"}],"paths":{"/rules/{ruleId}/v1":{"get":{"tags":["rules-controller"],"operationId":"getRuleByIdV1","parameters":[{"name":"customerId","in":"header","required":true,"schema":{"type":"string"}},{"name":"ruleId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rule"}}}}}},"put":{"tags":["rules-controller"],"operationId":"updateRuleV1","parameters":[{"name":"customerId","in":"header","required":true,"schema":{"type":"string"}},{"name":"ruleId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rule"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/rules/v1":{"get":{"tags":["rules-controller"],"operationId":"getAllRulesV1","parameters":[{"name":"customerId","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Rule"}}}}}}}},"/rule-simulator/":{"get":{"tags":["rule-simulator-controller"],"operationId":"getNotificationsForSimulation","parameters":[{"name":"customerId","in":"header","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"ruleJson","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmittedPushNotification"}}}}}}}}},"components":{"schemas":{"ConditionTerm":{"required":["_class"],"type":"object","properties":{"_class":{"type":"string"}},"discriminator":{"propertyName":"_class"}},"MessageQueueSetting":{"type":"object","properties":{"isOverflowProtectionActive":{"type":"boolean"}}},"Notification":{"type":"object","properties":{"message":{"$ref":"#/components/schemas/Translatable"},"title":{"$ref":"#/components/schemas/Translatable"},"actions":{"type":"array","items":{"$ref":"#/components/schemas/NotificationAction"}}}},"NotificationAction":{"type":"object","properties":{"text":{"$ref":"#/components/schemas/Translatable"},"actionQualifier":{"type":"string","enum":["DISMISS","OPENRULECREATOR","OPENDEVICECONTROL","OPENAPP","STOPDELIVERY","OPENWEB"]}}},"ObjectId":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int32"},"date":{"type":"string","format":"date-time"}}},"Rule":{"type":"object","properties":{"conditionTerm":{"$ref":"#/components/schemas/ConditionTerm"},"id":{"$ref":"#/components/schemas/ObjectId"},"createdAt":{"type":"integer","format":"int64"},"customerId":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"ruleState":{"type":"string","enum":["ACTIVE","PAUSE","DELETE","CONTROL"]},"notification":{"$ref":"#/components/schemas/Notification"},"controlType":{"type":"string","enum":["CLEAR_STATE_ALL","CLEAR_STATE_ALL_STOP","DELETE_RULES_ALL","EXPORT_RULES_CURRENT"]},"match_threshold":{"type":"integer","format":"int32"},"time_between_triggers_seconds":{"type":"integer","format":"int64"},"resetStateWhenMatched":{"type":"boolean"},"messageQueueSetting":{"$ref":"#/components/schemas/MessageQueueSetting"}}},"Translatable":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"fr":{"type":"string"}}},"AdditionalInformation":{"type":"object","properties":{"unit":{"type":"string","enum":["WATT","WATT_HOUR","AMPERE","VOLT","PERCENT","CELSIUS","FAHRENHEIT","BOOLEAN","PPM","NONE"]},"isForecast":{"type":"boolean"},"forecastTimestamp":{"type":"integer","format":"int64"}}},"Device":{"type":"object","properties":{"id":{"type":"string"},"location":{"type":"string","enum":["LIVING_ROOM","KITCHEN","BEDROOM","MASTER_BEDROOM","TOILETTE","SHOWER","BATH","OFFICE","OTHER"]},"type":{"type":"string"},"vendor_name":{"type":"string"},"product_name":{"type":"string"},"metadata":{"type":"string"},"createdAt":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"}}},"EmittedPushNotification":{"type":"object","properties":{"pushNotification":{"$ref":"#/components/schemas/PushNotification"},"triggerEvent":{"$ref":"#/components/schemas/Event"}}},"Event":{"required":["customerId","state","user"],"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"customerId":{"type":"string"},"user":{"$ref":"#/components/schemas/User"},"device":{"$ref":"#/components/schemas/Device"},"state":{"$ref":"#/components/schemas/State"},"ingestionTimestamp":{"type":"integer","format":"int64"}}},"PushNotification":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId"},"customerId":{"type":"string"},"userId":{"type":"string"},"ruleId":{"type":"string"},"priority":{"type":"string"},"createdAtTimeMillis":{"type":"integer","format":"int64"},"interaction":{"$ref":"#/components/schemas/PushNotificationInteraction"},"ingestionTimestamp":{"type":"integer","format":"int64"},"message":{"$ref":"#/components/schemas/Translatable"},"title":{"$ref":"#/components/schemas/Translatable"},"actions":{"type":"array","items":{"$ref":"#/components/schemas/NotificationAction"}},"delivery_status":{"$ref":"#/components/schemas/PushNotificationDeliveryStatus"}}},"PushNotificationDeliveryStatus":{"type":"object","properties":{"status":{"type":"string","enum":["DELIVERED","DROPPED"]},"reason":{"type":"string"}}},"PushNotificationInteraction":{"type":"object","properties":{"actionQualifier":{"type":"string"}}},"State":{"type":"object","properties":{"type":{"type":"string"},"value_after":{"type":"string"},"value_before":{"type":"string"},"value_max":{"type":"string"},"value_min":{"type":"string"},"additional_information":{"$ref":"#/components/schemas/AdditionalInformation"},"object":{"type":"string"}}},"User":{"type":"object","properties":{"id":{"type":"string"},"zip":{"type":"string"},"country_code":{"type":"string"},"timezone":{"type":"string"}}}}}}